body{
    background-color: #eee;
}
.container{
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 10%;
}
#aboutside{
    background-color: snow;
}
#contactside{
    background-color: cornsilk;
    padding-bottom: 20px;
}