{% extends 'blog/base.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'blog/css/post-detail.css' %}">
{% endblock %}


{% block content %}
<div class="container1">
    <div >
        {% if post.image %}
            <img src="{{ post.image.url }}" class="image-detail" alt="" />
        {% else %}
            <img src="https://cdn.mos.cms.futurecdn.net/LGoEDSKPxnLjMpJv4VaEK5.jpg" class="image-detail" alt="">
        {% endif %}
        <div class="update-delete">
            <a href="{% url 'update' post.slug %}"><button type="button" class="btn btn-outline-success">update</button></a>
            <a href="{% url 'delete' post.slug %}"><button type="button" class="btn btn-outline-danger">delete</button></a>
        </div>
        
        <hr>
        <h2 id="title">{{post.title}}</h2>
        <br>
        <p class="content" style='font-family: Verdana, Geneva, Tahoma, sans-serif;'>{{post.content|safe}}</p>
        <br>
        <br>
        <hr>
        <div class="container-fluid">    
            <div class="row">
                <div class="col" id="left">
                    {% if post.author.pic %}
                        <img src="{{post.author.pic.url}}" width="50" height="50" class="rounded-circle" alt="">
                    {% else %}
                        <img src="https://cdn.mos.cms.futurecdn.net/LGoEDSKPxnLjMpJv4VaEK5.jpg" width="50" height="50" class="rounded-circle" alt="">
                    {% endif %}
                    <strong><h6>{{post.author}}</h6></strong>
                    <p>{{post.author.bio}}</p>
                </div>
            </div>
        </div>
    </div>
</div>        
{% endblock %}