{% extends 'blog/base.html' %}

{% block extra_head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        body{
            background-color: #eee;
        }
        h4{
            margin-bottom: 5%;
        }
        .form{
            text-align: justify;
            margin-left: 6%;
            margin-right: 7%;
            margin-bottom: 6%;
        }
       
    </style>
{% endblock %}

{% block content %}

<div class="container">
    <div class="form">
        <h4>New Post</h4>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <input type="submit" class='btn btn-success' value="create post">
        </form>
    </div>
</div>

{% endblock %}