{% extends 'blog/base.html' %}
{% block extra_head %}
<style>
    .categories {
        padding-left: 5%;
        padding-right: 2%;
    }
    hr{
        margin-right: 8%;
        margin-left: 13%;
        
    }
    @media only screen and (max-width: 600px) {
        .categories {
            padding-left: 7%;
        }
        .col{
            padding-left: 8%;
            padding-right: 1%;
        } 
        hr{
            margin-right: 2%;
            margin-left: 6%; 
        }
    }
</style>
{% endblock %}
{% block content %}

<div class="container">
    
    <div class="categories">
        <a href="{% url 'home' %}"><button type="button" class="btn btn-outline-secondary btn-sm">All</button></a>
        {% for cat in categories %}
        <a href="{% url 'filter' cat.id %}"><button type="button"
                class="btn btn-outline-secondary btn-sm">{{cat.name}}</button></a>
        {% endfor %}

    </div>
    <hr>
    <ul class="blog-post columns-2">
     
        {% for post in posts%}
        <li>
            {% if post.image %}
            <a href="{% url 'post-detail' post.slug %}"><img src="{{ post.image.url }}" alt="" /></a>

            {% else %}
            <a href="{% url 'post-detail' post.slug %}"><img
                    src="https://edyoda.s3.amazonaws.com/media/blog-images/devops_tJSKVcn.jpg" />
                {% endif %}</a>
            <h3>{{post.title|truncatechars:45}}</h3>
            <hr>
            <p>{{post.content|truncatechars_html:100|safe}}</p>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}